<div class="col-lg-5 col-md-5 col-sm-12 col-centered">
  {{#each items as |item|}}
    <div class="row queue-video">
      <div class="col-lg-12">
        <div class="row video-header">
          <div class="col-xs-3 col-sm-2">
            <img class="user-img" src="http://placehold.it/100x100">
          </div>
          <div class="col-xs-6 col-sm-7">
            <div class="user-name">
              {{item.owner.first_name}} {{item.owner.last_name}}
            </div>
            <div class="user-location">
              {{item.original_name}}
            </div>
          </div>
          <div class="col-xs-3 col-sm-3 video-ts">
            <div>{{moment-from-now item.updated_at hideSuffix=true}}<span>Ago</span></div>
          </div>
        </div>
      </div>
      <div class="col-sm-12">
        <video width="100%" controls>
          <source src="https://s3.amazonaws.com/shamar-videos/{{item.key}}.{{item.type}}" type="video/{{item.type}}">
          Your browser does not support the video tag.
        </video>
      </div>
      <div class="col-sm-12">
        <div class="bs-component video-judge">
          <div class="btn-group btn-group-justified">
            <a href="#" class="btn btn-default approve" {{action 'approveVideo' item}}>APPROVE</a>

            <a href="#" class="btn btn-default reject" {{action 'rejectVideo' item}}>REJECT</a>
          </div>
        </div>
      </div>
    </div>
  {{/each}}
</div>
