<div class="col-md-10 col-sm-12 col-centered">
  <div class="bs-component shamar-table">
      <table class="table table-striped table-hover ">
        <thead>
          <tr>
            <th class='hidden-xs'>#</th>
            <th>Name</th>
            <th class='hidden-xs'>User Name</th>
            <th class='hidden-xs'>Status</th>
            <th>Controls</th>
          </tr>
        </thead>
        <tbody>
          {{#each items as |item|}}
            <tr>
              <td class='hidden-xs'>{{item.id}}</td>
              <td><a href="#" data-toggle="modal" data-target="#modal{{item.id}}">{{item.name}}</a></td>
              <td class='hidden-xs'>{{item.user.name}} {{item.user.lastname}}</td>
              <td class='hidden-xs'>{{item.status}}</td>
              <td>
                <div class="bs-component table-commands">
                  <div class="btn-group btn-group-justified">
                    {{#link-to 'videos.rejected.video' item class="btn btn-default send" }}EDIT{{/link-to}}
                    <!-- <a href="#" class="btn btn-default cancel">DELETE</a> -->
                  </div>
                </div>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
</div>
{{#each items as |item|}}
<div class="modal fade" id="modal{{item.id}}" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <video width="100%" controls>
      <source src="{{item.video_url}}" type="video/webm">
      Your browser does not support the video tag.
    </video>
    <div class="bs-component table-commands">
      <div class="btn-group btn-group-justified">
        <a href="#" class="btn btn-default cancel" data-dismiss="modal">CLOSE</a>
      </div>
    </div>
  </div>
</div>
{{/each}}
