<div class="row" style='position: absolute;left:0; width: 100%; height: 100%; margin:0;padding:0;background-color:rgba(0,0,0,.8);z-index:10;'>
  <div class="col-lg-5 col-md-8 col-sm-12 col-centered">

    <div class="well bs-component shamar-form">
      <form class="form-horizontal" {{action 'submit' on='submit'}}>
        <fieldset>
          <legend>New User</legend>
          <div class="form-group">
            <div class="col-lg-12">
              {{input class="form-control" placeholder="Name *" value=item.first_name id="first_name"}}
            </div>
          </div>
          <div class="form-group">
            <div class="col-lg-12">
              {{input class="form-control" placeholder="Last Name *" value=item.last_name id="last_name"}}
            </div>
          </div>
          <div class="form-group">
            <div class="col-lg-12">
              {{input class="form-control" placeholder="Email *" value=item.email id="email"}}
            </div>
          </div>
          <div class="form-group">
            <div class="col-lg-12">
              {{input class="form-control" placeholder="Password *" value=item.password id="password"}}
            </div>
          </div>
          <div class="form-group">
            <div class="col-lg-12">
              {{input class="form-control" placeholder="Confirm Password *" value=item.confirmPassword id="confirmPassword"}}
            </div>
          </div>
          <div class="form-group">
            <div class="col-lg-12">
              {{input class="form-control" placeholder="Shamars" value=item.shamars id="shamars"}}
            </div>
          </div>
          <div class="form-group">
            <div class="col-lg-12">
              {{input class="form-control" placeholder="City" value=item.city id="city"}}
            </div>
          </div>
          <div class="form-group">
            <div class="col-lg-12">
              <div class="select-container">
                {{#x-select class="form-control" value=item.country id="country" action='selectCountry' as |xs|}}
                  {{#xs.option value='Puerto Rico'}}Puerto Rico{{/xs.option}}
                  {{#xs.option value='USA'}}USA{{/xs.option}}
                {{/x-select}}
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-lg-12">
              <div class="select-container">
                {{#x-select class="form-control" value=item.state id="state" action='selectState' as |xs|}}
                  {{#xs.option value='Puerto Rico' }}Puerto Rico{{/xs.option}}
                  {{#xs.option value='Alabama' }}Alabama{{/xs.option}}
                  {{#xs.option value='Alaska' }}Alaska{{/xs.option}}
                  {{#xs.option value='Arizona' }}Arizona{{/xs.option}}
                  {{#xs.option value='Arkansas' }}Arkansas{{/xs.option}}
                  {{#xs.option value='California' }}California{{/xs.option}}
                  {{#xs.option value='Colorado' }}Colorado{{/xs.option}}
                  {{#xs.option value='Connecticut' }}Connecticut{{/xs.option}}
                  {{#xs.option value='Delaware' }}Delaware{{/xs.option}}
                  {{#xs.option value='District Of Columbia' }}District Of Columbia{{/xs.option}}
                  {{#xs.option value='Florida' }}Florida{{/xs.option}}
                  {{#xs.option value='Georgia' }}Georgia{{/xs.option}}
                  {{#xs.option value='Hawaii' }}Hawaii{{/xs.option}}
                  {{#xs.option value='Idaho' }}Idaho{{/xs.option}}
                  {{#xs.option value='Illinois' }}Illinois{{/xs.option}}
                  {{#xs.option value='Indiana' }}Indiana{{/xs.option}}
                  {{#xs.option value='Iowa' }}Iowa{{/xs.option}}
                  {{#xs.option value='Kansas' }}Kansas{{/xs.option}}
                  {{#xs.option value='Kentucky' }}Kentucky{{/xs.option}}
                  {{#xs.option value='Louisiana' }}Louisiana{{/xs.option}}
                  {{#xs.option value='Maine' }}Maine{{/xs.option}}
                  {{#xs.option value='Maryland' }}Maryland{{/xs.option}}
                  {{#xs.option value='Massachusetts' }}Massachusetts{{/xs.option}}
                  {{#xs.option value='Michigan' }}Michigan{{/xs.option}}
                  {{#xs.option value='Minnesota' }}Minnesota{{/xs.option}}
                  {{#xs.option value='Mississippi' }}Mississippi{{/xs.option}}
                  {{#xs.option value='Missouri' }}Missouri{{/xs.option}}
                  {{#xs.option value='Montana' }}Montana{{/xs.option}}
                  {{#xs.option value='Nebraska' }}Nebraska{{/xs.option}}
                  {{#xs.option value='Nevada' }}Nevada{{/xs.option}}
                  {{#xs.option value='New Hampshire' }}New Hampshire{{/xs.option}}
                  {{#xs.option value='New Jersey' }}New Jersey{{/xs.option}}
                  {{#xs.option value='New Mexico' }}New Mexico{{/xs.option}}
                  {{#xs.option value='New York' }}New York{{/xs.option}}
                  {{#xs.option value='North Carolina' }}North Carolina{{/xs.option}}
                  {{#xs.option value='North Dakota' }}North Dakota{{/xs.option}}
                  {{#xs.option value='Ohio' }}Ohio{{/xs.option}}
                  {{#xs.option value='Oklahoma' }}Oklahoma{{/xs.option}}
                  {{#xs.option value='Oregon' }}Oregon{{/xs.option}}
                  {{#xs.option value='Pennsylvania' }}Pennsylvania{{/xs.option}}
                  {{#xs.option value='Rhode Island' }}Rhode Island{{/xs.option}}
                  {{#xs.option value='South Carolina' }}South Carolina{{/xs.option}}
                  {{#xs.option value='South Dakota' }}South Dakota{{/xs.option}}
                  {{#xs.option value='Tennessee' }}Tennessee{{/xs.option}}
                  {{#xs.option value='Texas' }}Texas{{/xs.option}}
                  {{#xs.option value='Utah' }}Utah{{/xs.option}}
                  {{#xs.option value='Vermont' }}Vermont{{/xs.option}}
                  {{#xs.option value='Virginia' }}Virginia{{/xs.option}}
                  {{#xs.option value='Washington' }}Washington{{/xs.option}}
                  {{#xs.option value='West Virginia' }}West Virginia{{/xs.option}}
                  {{#xs.option value='Wisconsin' }}Wisconsin{{/xs.option}}
                  {{#xs.option value='Wyoming' }}Wyoming{{/xs.option}}
                  {{#xs.option value='American Samoa' }}American Samoa{{/xs.option}}
                  {{#xs.option value='Guam Northern' }}Guam Northern{{/xs.option}}
                  {{#xs.option value='Mariana Islands' }}Mariana Islands{{/xs.option}}
                  {{#xs.option value='United States Minor' }}United States Minor{{/xs.option}}
                  {{#xs.option value='Outlying Islands' }}Outlying Islands{{/xs.option}}
                  {{#xs.option value='Virgin Islands' }}Virgin Islands{{/xs.option}}
                {{/x-select}}
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-lg-12">
              {{bootstrap-datepicker class="form-control" value=item.birthdate id="birthdate" placeholder="Birthdate" format='mm/dd/yyyy'}}
            </div>
          </div>
          <div class="form-group">
            <div class="col-lg-12">
              {{input class="form-control" placeholder="Account Type *" value=item.account_type id="account_type"}}
            </div>
          </div>
          <div class="form-group">
            <div class="col-lg-12">
              <div class="select-container">
                {{#x-select class="form-control" value=item.is_admin id="is_admin" action='selectRole' as |xs|}}
                  {{#xs.option value=true}}Admin{{/xs.option}}
                  {{#xs.option value=false}}User{{/xs.option}}
                {{/x-select}}
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-lg-12">
              <div class="select-container">
                {{#x-select class="form-control" value=item.verified id="verified" action='selectVerified' as |xs|}}
                  {{#xs.option value=false}}Unverified{{/xs.option}}
                  {{#xs.option value=true}}Verified{{/xs.option}}
                {{/x-select}}
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-lg-12">
              <div class="select-container">
                {{#x-select class="form-control" value=item.is_banned id="is_banned" action='selectBan' as |xs|}}
                  {{#xs.option value=false}}Active{{/xs.option}}
                  {{#xs.option value=true}}Banned{{/xs.option}}
                {{/x-select}}
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-12">
              <div class="bs-component form-commands">
                <div class="btn-group btn-group-justified">
                  <style media="screen">
                    .btn.btn-default.cancel.modal-button {
                      width: 50%;
                    }
                  </style>
                  {{#link-to 'users' class="btn btn-default cancel modal-button"}}CANCEL{{/link-to}}
                  <button type="submit" class="btn btn-default send modal-button" style="width: 100%">SUBMIT</button>
                </div>
              </div>
            </div>
          </div>
        </fieldset>
      </form>
    </div>

  </div>
</div>
